body
    +regular
    background-color: #f7f7f7
    
.img
    width: 100%
    height: auto
    

.title 
    text-transform: uppercase
    text-decoration: none
    font-size: 18px
    color: #353738
    +bold
    letter-spacing: 3px

.text
    +regular
    color: #848789
    text-align: center
    font-size: 16px



.link
    text-transform: uppercase
    text-decoration: none
    +bold
    letter-spacing: 3px

button 
        padding: 20px
        +bold
        margin: 70px auto  
        height: 50px
        border: 1px solid #fff
        outline: none
        font-size: 14px
        color: transparent
   