body
    +regular
    background-color: #f7f7f7
    
.img
    width: 100%
    height: auto
    

.title 
    text-transform: uppercase
    text-decoration: none
    font-size: 18px
    color: #353738
    +bold
    letter-spacing: 3px

.text
    +regular
    color: #848789
    text-align: center
    font-size: 16px
    &__line
        width: 50px
        height: 1px
        background-color: rgba(#848789, 0.2)

