.header
    

.navbar
    position: fixed
    z-index: 99
    
    &__logo
        
nav
    margin: auto   
    width: 100%
    

.menu
    
    &-wrap
    display: flex
    flex-direction: row
    align-items: center
    min-height: 95px
    &__link
        text-transform: uppercase
        text-decoration: none
        font-size: 13px
        color: #4d4959
        +bold
        letter-spacing: 3px

