.work
    
    &-block
        display: flex
        flex-direction: column 

    &-bike 
        display: inline-flex
        flex-wrap: wrap
        width: 100%


    &__img
        flex-basis: 66.7%
        height: auto
        line-height: 0
        
        
        &_3sections
            flex-basis: 33.3% 

        

    &-card
        display: flex
        flex-direction: column
        position: relative
        flex-basis: 33.3%
        height: auto
        align-items: center
        width: 100%
        align-content: center

        &__icon 
            margin-top: 60px


        &__title 
            padding-top: 30px
            padding-bottom: 25px


        &__text 
            padding: 0 70px
            line-height: 30px
            padding-bottom: 40px
            text-align: justify


        &__img 
            width: 100%
            position: absolute
            bottom: -4px
        




    
